<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
 </config>
  <packageSources>
    <add key="Carbon" value="https://msasg.pkgs.visualstudio.com/_packaging/Carbon/nuget/v3/index.json" />
    <add key="acaiclientlib" value="https://microsoft.pkgs.visualstudio.com/_packaging/Analog.Ai.Acai.ClientLibrary/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AriaLib" value="https://msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/nuget/v3/index.json" />
  </packageSources>
</configuration>